@import '~node_modules/modern-normalize/modern-normalize.css';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}
p,
h1 {
  margin: 0;
}
button {
  border: none;
}
body::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll */
}

body::-webkit-scrollbar-track {
  background-color: #e6e0e0; /* Color de fondo del track */
}

body::-webkit-scrollbar-thumb {
  background-color: #8f1021; /* Color de la barra deslizante */
  border-radius: 6px; /* Radio de las esquinas del thumb */
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.dark {
  background-color: #606060;
  color: #e6e0e0;
}
.translate__swich {
  transform: translateX(15px) !important;
}
.list_api {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 40px; //--> para 3 tarjetas
  //gap: calc((100% - 1650px)/3); --> para 4 tarjetas
  //gap: calc((100% - 1350px)/3);
  //gap: calc((100% - 1350px) / 3);
}

.card {
  //margin-bottom: 5%;
  max-width: 350px;
  padding: 20px 25px;
  line-height: 1em;
  border: 0.5px solid rgb(194, 194, 194);
  border-radius: 10px;
  cursor: pointer;
  flex-basis: calc((100% - 80px) / 3);
  /* background-image: linear-gradient(
    to left,
    rgb(176, 186, 214),
    rgb(197, 166, 161)
  ); */
}

.card:hover {
  -webkit-box-shadow: 0px 6px 24px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px 9px rgba(0, 0, 0, 0.5);
}

.card > img {
  width: 300px;
}

.generes {
  font-weight: 600;
  color: #8f1021;
}

.dark .generes {
  color: rgb(218, 143, 31);
}

@media (min-width:768px) and (max-width: 1200px) {
  .list_api {
    gap: 38px;
  }
  .card {
    flex-basis: calc((100% - 38px) / 2);
  }
}