@import '~node_modules/modern-normalize/modern-normalize.css';
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll */
}

body::-webkit-scrollbar-track {
  background-color: #e6e0e0; /* Color de fondo del track */
}

body::-webkit-scrollbar-thumb {
  background-color: #8f1021; /* Color de la barra deslizante */
  border-radius: 6px; /* Radio de las esquinas del thumb */
}

.dark{
  background-color: #606060;
}

.list_api{
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc((100% - 1050px)/3);
}

.card{
  margin-bottom: 2%;
  width: 350px;
  padding: 20px 25px;
  //border: 0.5px solid rgb(122, 67, 63);
  border-radius: 8%;
  text-align: center;
  -webkit-box-shadow: 0px 6px 24px 9px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 6px 24px 9px rgba(0,0,0,0.5);
  box-shadow: 0px 6px 24px 9px rgba(0,0,0,0.5);
  background-image: linear-gradient(
    to left,
    rgb(176, 186, 214),
    rgb(197, 166, 161)
  );
}

.card > img{
  width: 300px;
}
