.wrapper > ul {
  display: flex;
  list-style: none;
  padding: 8px;
  border-radius: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & > li {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: #000;
    margin: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  & > .numb {
    height: 40px;
    width: 40px;
    pointer-events: none;
  }
  & > .active {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 20px;
  }
  & > .btn {
    width: 40px;
    height: 40px;
    font-size: 22px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.08);
      background-color: #d30707;
    }
  }
}
