@import './common';
@import './components-sass/header';
@import './components-sass/pagination';
@import './components-sass/search';
@import './components-sass/footer';
@import './components-sass/mylist';

@import  './components-sass/ventana-target';