<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">

<footer class="containerfooter">
    <div class="marginfooter">
        <div class="container-icons-footer">
        <i class="ri-facebook-fill ri-xl"></i>
        <i class="ri-instagram-line ri-xl"></i>
        <i class="ri-youtube-fill ri-xl"></i>
        <i class="ri-twitter-fill ri-xl"></i>
        <i class="ri-tiktok-fill ri-xl"></i>
        </div>
        <div  class="container-logo-footer">
            <a href="#" class="logof">
            <svg class="logof_svg"><use href='./images/icons.svg#icon-film'></use></svg>
            <span class="logo__textf">Filmoteka</span>
        </div>
        <div  class="container-copy-footer">
            <a href="#" class="">
            <span class="text-copy">Copyright 2023</span>
            <i class="ri-copyright-line"></i>
            <span class="text-copy">Developed whith by </span> <span id="Goit_students" class="text-copy-Students">GoIT Students</span>

            <dialog class="show" id="modal">
                <button id="cerrarmodal" class="closemodal">X</button>
                <div class="sliders">
                    <div class="sliders-content">
                        <div class="slider-item"></div>
                        <img src='/src/images/Compañeros Go it-01.png' alt="prueba">
                        <span>Team Lead</span>
                        <div class="slider-item"></div>
                        <img src='/src/images/Compañeros Go it-01.png' alt="prueba">
                        <span>Scrum-master</span>
                        <div class="slider-item"></div>
                        <img src='/src/images/Compañeros Go it-01.png' alt="prueba">
                        <span>Developed</span>
                        <div class="slider-item"></div>
                        <img src='/src/images/Compañeros Go it-01.png' alt="prueba">
                        <span>Developed</span>
                        <div class="slider-item"></div>
                        <img src='/src/images/Compañeros Go it-01.png' alt="prueba">
                        <span>Developed</span>
                        <div class="slider-item"></div>
                        <img src='/src/images/Compañeros Go it-01.png' alt="prueba">
                        <span>Developed</span>
                    </div>
                </div>
            </dialog>
        </div >
        
        <div class="container-legal-footer">
            <span class="text-legal">Información legal  |  Politica de privacidad</span> 
        </div>
    </div>

</footer>
