<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="/src/sass/components-sass/_footer.scss">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">




<footer class="containerfooter">
    <div class="marginfooter">
        <div class="container-icons-footer">
        <i class="ri-facebook-fill ri-xl"></i>
        <i class="ri-instagram-line ri-xl"></i>
        <i class="ri-youtube-fill ri-xl"></i>
        <i class="ri-twitter-fill ri-xl"></i>
        <i class="ri-tiktok-fill ri-xl"></i>
        </div>
        <div  class="container-logo-footer">
            <a href="#" class="logof">
            <svg class="logof_svg"><use href="/src/images/icons.svg#icon-film"></use></svg>
            <span class="logo__textf">Filmoteka</span>
        </div>
        <div  class="container-copy-footer">
            <a href="#" class="">
            <span class="text-copy">Copyright 2023</span>
            <i class="ri-copyright-line"></i>
            <span class="text-copy">Developed whith by </span> <span id="Goit_students" class="text-copy-Students">GoIT Students</span>

            <dialog class="closem" id="modal" >
                <button id="cerrarmodal" class="closemodal">X</button>
                    
                
                <section class="swiper mySwiper">

            <div class="swiper-wrapper">

            <div class="cardFooter swiper-slide">
                <div class="card__image">
                    <img src="/src/images/Compañeros Go it-01.png" alt="card image">
                </div>
                <div class="card__content">
                    <div class="container-icons-modal">
                        <i class="ri-facebook-fill ri-xl"></i>
                        <i class="ri-twitter-fill ri-xl"></i>
                        <i class="ri-github-fill ri-xl"></i>
                    </div>
                    <span class="card__name">David Amador</span>
                    <span class="card__title">Developed</span>
                    <button class="card__btn"> view more</button>
                </div>
            </div>

            <div class="cardFooter swiper-slide">
                <div class="card__image">
                    <img src="/src/images/Compañeros Go it-02.png" alt="card image">
                </div>
                <div class="card__content">
                    <div class="container-icons-modal">
                        <i class="ri-facebook-fill ri-xl"></i>
                        <i class="ri-twitter-fill ri-xl"></i>
                        <i class="ri-github-fill ri-xl"></i>
                </div>
                    <span class="card__name">Enmanuel Berruecos</span>
                    <span class="card__title">Team Lead</span>
                    <button class="card__btn"> view more</button>
                </div>
            </div>

            <div class="cardFooter swiper-slide">
                <div class="card__image">
                    <img src="/src/images/Compañeros Go it-03.png" alt="card image">
                </div>
                <div class="card__content">
                    <div class="container-icons-modal">
                        <i class="ri-facebook-fill ri-xl"></i>
                        <i class="ri-twitter-fill ri-xl"></i>
                        <i class="ri-github-fill ri-xl"></i>
                </div>
                    <span class="card__name">Daniel Santa</span>
                    <span class="card__title">Scrum-master</span>
                    <button class="card__btn"> view more</button>
                </div>
            </div>

            <div class="cardFooter swiper-slide">
                <div class="card__image">
                    <img src="/src/images/Compañeros Go it-04.png" alt="card image">
                </div>
                <div class="card__content">
                    <div class="container-icons-modal">
                        <i class="ri-facebook-fill ri-xl"></i>
                        <i class="ri-twitter-fill ri-xl"></i>
                        <i class="ri-github-fill ri-xl"></i>
                </div>
                    <span class="card__name">Byron Poveda</span>
                    <span class="card__title">Developed</span>
                    <button class="card__btn"> view more</button>
                </div>
            </div>

            <div class="cardFooter swiper-slide">
                <div class="card__image">
                    <img src="/src/images/Compañeros Go it-05.png" alt="card image">
                </div>
                <div class="card__content">
                    <div class="container-icons-modal">
                        <i class="ri-facebook-fill ri-xl"></i>
                        <i class="ri-twitter-fill ri-xl"></i>
                        <i class="ri-github-fill ri-xl"></i>
                </div>
                    <span class="card__name">Liliana Franco</span>
                    <span class="card__title">Developed</span>
                    <button class="card__btn"> view more</button>
                </div>
            </div>

            <div class="cardFooter swiper-slide">
                <div class="card__image">
                    <img src="/src/images/Compañeros Go it-06.png" alt="card image">
                </div>
                <div class="card__content">
                    <div class="container-icons-modal">
                        <i class="ri-facebook-fill ri-xl"></i>
                        <i class="ri-twitter-fill ri-xl"></i>
                        <i class="ri-github-fill ri-xl"></i>
                </div>
                    <span class="card__name">Miguel Acosta</span>
                    <span class="card__title">Developed</span>
                    <button class="card__btn"> view more</button>
                </div>
            </div>
            

            
            </div>
                </section>

            </dialog>
        </div >
        
        <div class="container-legal-footer">
            <span class="text-legal">Información legal  |  Politica de privacidad</span> 
        </div>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/src/components/slider_footter.js"></script>
<script src="/src/components/modal_footer.js"></script>