<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<div class="slider">
  <div class="slider-container">
    <div class="movie">
      <img
        src="/src/images/portadas/3IhGkkalwXguTlceGSl8XUJZOVI.jpg"
        onclick="openModal('/src/images/portadas/3IhGkkalwXguTlceGSl8XUJZOVI.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/7gKI9hpEMcZUQpNgKrkDzJpbnNS.jpg"
        onclick="openModal('/src/images/portadas/7gKI9hpEMcZUQpNgKrkDzJpbnNS.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/8riWcADI1ekEiBguVB9vkilhiQm.jpg"
        onclick="openModal('/src/images/portadas/8riWcADI1ekEiBguVB9vkilhiQm.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg"
        onclick="openModal('/src/images/portadas/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/fiVW06jE7z9YnO4trhaMEdclSiC.jpg"
        onclick="openModal('/src/images/portadas/fiVW06jE7z9YnO4trhaMEdclSiC.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/gPbM0MK8CP8A174rmUwGsADNYKD.jpg"
        onclick="openModal('/src/images/portadas/gPbM0MK8CP8A174rmUwGsADNYKD.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg"
        onclick="openModal('/src/images/portadas/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg"
        onclick="openModal('/src/images/portadas/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/rktDFPbfHfUbArZ6OOOKsXcv0Bm.jpg"
        onclick="openModal('/src/images/portadas/rktDFPbfHfUbArZ6OOOKsXcv0Bm.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
        onclick="openModal('/src/images/portadas/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg"
        onclick="openModal('/src/images/portadas/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg')"
      />
    </div>
    <div class="movie">
      <img
        src="/src/images/portadas/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg"
        onclick="openModal('/src/images/portadas/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg')"
      />
    </div>
  </div>
</div>
<script type="module" src="/src/components/slider.js"></script>
