.containerfooter {
  background: linear-gradient(#5f1821, #2e0c10);
  width: 100%;
  display: block;
}

.marginfooter {
  height: 260px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container-icons-footer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
.container-icons-footer::after,
.container-icons-footer::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 1px;
  background-color: #fff;
  top: 2.3em;
}
.container-icons-footer::before {
  left: 15%;
}
.container-icons-footer::after {
  right: 15%;
}

.ri-facebook-fill {
  cursor: pointer;
  color: #fff;
}
.ri-instagram-line {
  cursor: pointer;
  color: #fff;
}
.ri-youtube-fill {
  cursor: pointer;
  color: #fff;
}
.ri-twitter-fill {
  cursor: pointer;
  color: #fff;
}
.ri-tiktok-fill {
  cursor: pointer;
  color: #fff;
}
.ri-copyright-line {
  color: #fff;
}

.logof {
  display: flex;
  align-self: flex-end;
  margin: 0;
}

.logof_svg {
  width: 35px;
  height: 35px;
  fill: #fff;
  align-self: center;
  margin-right: 10px;
}
a {
  text-decoration: none;
}

.logo__textf {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  line-height: 1.72;
  font-weight: 700;
  text-decoration-line: none;
  text-transform: none;
}
.container-logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.container-copy-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-copy {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  text-transform: lowercase;
}
.text-legal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  color: #fff;
}

.text-copy-Students {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}
#modal {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 1px 1px rgba(0, 0, 0, 0.16);
  border: none;
}

.closemodal {
  position: absolute;
  left: 93%;
  right: 100%;
  top: 1%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.closemodal:hover,
.closemodal:focus {
  color: #5f1821;
}
@media (min-width: 320px) and (max-width: 768px) {
}
