header {
  display: block;
  margin: auto;
  width: 100%;
  padding: 45px 20px;
  height: 450px;

  background-image: url(/src/images/bannerTrOk.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar {
  display: block;
}
.navigation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  list-style: none;
}
.logo {
  display: flex;
}

a {
  color: #5e2129;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
.logo__text {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  line-height: 1.72;
  list-style: none;
  font-weight: 700;
  text-decoration-line: none;
  text-transform: none;
}

.menu {
  display: flex;
}

.menu_items {
  margin-right: 50px;
}

.menu_link {
  position: relative;

  &:hover,
  &:focus,
  &:active {
    color: #cf5d59;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: calc(100% + 15px);
    width: 100%;
    background-color: #cf5d59;
    height: 2px;
    border-radius: 1px;
    opacity: 0;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    opacity: 1;
  }
}

.menu_itemsl {
  white-space: nowrap;
  overflow: visible;
}

.logo_svg {
  width: 60px;
  height: 60px;
  fill: #fff;
  align-self: center;
  margin-right: 10px;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  position: absolute;
  right: 0;
  top: 265px;
}
.theme-swich {
  display: flex;
  align-items: center;
  margin-right: 20%;
  margin-top: 60%;
}

.theme-swich_icon {
  height: 20px;
  width: 20px;
  fill: #fff;
  margin-right: 10px;
}
.theme-swich_control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 16px;
  border-radius: 50em;
  padding: 3px 0;
}
.theme-swich-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #5e2129;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}
.theme-swich_light {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-swich_maker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 0.25s var(--timing-function);
}

/* 
estilos del header library
*/

.btn {
  display: flex;
  position: relative;
  margin: 0 auto 22px;
  justify-content: center;
}
.btn_watch {
  margin-right: 30px;
  width: 120px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 16px 32px;
  border: 1.5px solid #fff;
  border-radius: 10px;
  position: relative;

  &:hover, &:focus, &:active {
    color: #cf5d59;
    border-color: #cf5d59;
    background-color: rgba(0, 0, 0, 50%);
  }
}

.btn_queue {
  background-color: transparent;
  width: 120px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 16px 32px;
  border: 1.5px solid #fff;
  border-radius: 10px;
  position: relative;

  &:hover, &:focus, &:active {
    color: #cf5d59;
    border-color: #cf5d59;
    background-color: rgba(0, 0, 0, 50%);
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    background-image: url(/src/images/movil.png);
  }
  a {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
  }
  .navigation__container {
    display: block;
    justify-content: center;
  }
  .menu {
    justify-content: right;
    align-items: center;
    margin-left: 15px;
  }

  .menu_items {
    margin-right: 20px;
  }

  .logo {
    display: flex;
    margin-right: 0px;
  }
  .toolbar {
    top: 0px;
  }

  .theme-swich {
    margin-right: 0px;
  }
  .btn_watch {
    width: 80px;
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 15px;
  }

  .btn_queue {
    width: 80px;
    font-size: 12px;
    padding: 5px 10px;
  }
}
