#idSearchList {
  height: 532px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  width: 258px;
  position: relative;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e6e0e0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8f1021;
    border-radius: 4px;
    transition: all 0.5s;
  }
}
.search {
  &__item {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 0.3rem;
    width: 250px;
    height: 70px;
    cursor: pointer;
    gap: 20px;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #5e2129;
    }
  }
  &__img {
    width: 40px;
    height: 60px;
  }
  //   &__wrapper-info {
  //   }
  &__title {
    font-weight: 700;
    font-size: 0.7rem;
    color: white;
  }
  &__year {
    font-weight: 700;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.6;
    color: rgb(255, 252, 252);
  }
}
